* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(35, 35, 35);
    color: #fff;
}

.navbar a, .logo a {
    text-decoration: none;
}

.navbar li {
    list-style: none;
}

.navbar input[type=checkbox] {
    display: none;
} 

.nav-links a {
    color: #fff;
}

.logo a {
    font-size: 32px;
    color: #fff;
}

/* navbar menu */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #353535;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li#active {
    background-color: #353535;
    border-radius: 5px;
}

.menu li {
    padding: 5px 14px;
}

.hamburger {
display: none;
font-size: 24px;
user-select: none;
}

@media (max-width: 768px) {
.menu {
    display:none;
    position: absolute;
    background-color:rgb(35, 35, 35);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
}

.menu li:hover {
    background-color:#353535;
    transition: 0.3s ease;
}

.menu li#active {
    background-color:#353535;
}

.menu li + li {
    margin-top: 12px;
}

input[type=checkbox]:checked ~ .menu {
    display: block;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
}

.dropdown li:hover {
    background-color: #353535;
}
}

.container {
    margin: auto;
    width: 50%;
    padding: 20px;
}

.puzzles-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
    margin-top: 30px;
}

.puzzle-img {
    width: 200px;
    margin: auto;
    display: block;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
}

td {
    vertical-align: top;
}

.box {
    height: 30px;
    width: 30px;
}

.space {
    border: 1px solid #000;
}

.number {
    vertical-align: top;
    text-align: left;
    font-size: 8px;
    left: 0;
}

.letter {
    text-align: center;
    margin: auto;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=checkbox] {
    padding: 12px 20px;
    margin: 8px 0;
}

.submitBtn {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.submitBtn:hover {
background-color: #45a049;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
}

#loading { 
    display: none; 
    border: 4px solid rgba(255, 255, 255, 0.3); 
    border-top: 4px solid white; 
    border-radius: 50%; 
    width: 15px; 
    height: 15px; 
    animation: spin 1s linear infinite; 
    margin-left: 10px; 
}
  
@keyframes spin { 
    0% { 
        transform: rotate(0deg); 
    } 
  
    100% { 
        transform: rotate(360deg); 
    } 
}
