.container {
    margin: auto;
    width: 100%;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
}

td {
    vertical-align: top;
}

.box {
    height: 30px;
    width: 30px;
}

.space {
    border: 1px solid #000;
}

.number {
    vertical-align: top;
    text-align: left;
    font-size: 8px;
    left: 0;
}

.letter {
    text-align: center;
    margin: auto;
}