<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Puzzles</title>
</head>
<body>
    <h1>Generate custom puzzles with the help of AI!</h1>
    <div>
        <a href="/wordsearch">
        <img src="{{ url_for('static', filename='images/wordsearch.jpg') }}" alt="Word Search Puzzle"/>
        <p>Generate Word Search</p>
        </a>
    </div>
    <div>
        <a href="/crossword">
        <img src="{{ url_for('static', filename='images/crossword.jpg') }}" alt="Crossword Puzzle"/>
        <p>Generate Crossword</p>
        </a>
    </div>
</body>
</html>