<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puzzle Generator: Word Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div>
        {% if (prompt == None) or (prompt == '') %}
        <form action="/wordsearch" method="GET">
            Choose a topic: <input type="text" name="prompt" id="prompt" />
            Exclude backwards: <input type="checkbox" name="backwards" id="backwards" value="0" />
            <input type="submit" value="Generate Word Search" />
        </form>
        {% endif %}
    </div>
    <div>
        {% if prompt %}
        <a href="/wordsearch">Re-do</a>
        <button onclick="window.print()">Save/Print</button>
        <h1>{{prompt}} Word Search</h1>

        <table>
            <tbody>
                {% for row in grid %}
                    <tr>
                        {% for letter in row %}
                        <td style="text-align: center;">{{letter}}</td>
                        {% endfor %} 
                    </tr>
                {% endfor %} 
            </tbody>
        </table>

        <p><b>Words:</b></p>
        {% for word in words %}
            <p>{{word}}</p>
        {% endfor %}

        {% endif %}
    </div>

</body>
</html>